/*portfolio image and button*/
.card-position{
    position: relative;
}
.btn1{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    color: beige;
    background-color: rgb(38, 58, 57);
}
#link1{
    padding-top: 10px;
}

#row2{
    margin-top: 10px;
}




@media screen and (min-width:768px) and (max-width:992px){

    .img-size{
        margin-bottom: 4px;
        width: 100%;
        height: auto;
        
    
    }
}

@media screen and (min-width:641px) and (max-width:768px){

        
}





@media screen and (max-width:640px){
        .footer{
        position: relative;
        margin-top: 5px;
        }

        .col1{
            margin-bottom: 8px;
        }
        #row2{
            margin-top: 1px;
        }
        
}